//rtl
.change-password{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    -webkit-transform: translate(-50% , -50%);
    -moz-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    -o-transform: translate(-50% , -50%);
    background-color: $text-field-bg;
    border: 1px solid $light-line;
    display: flex;
    height: 500px;
    justify-content: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    .form-group{
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 500px;
        max-width: 100%;
        margin: auto;
        label{
            display: flex;
            align-items: center;
            width: 100%;
            max-width: 100%;
            span{
                width: 30%;
                text-align: center;
                color: $color-button;
                font-weight: bold;
            }
            .form-control{
                width: 70%;
                border: 1px solid $light-line;
                caret-color: $light-line;
                padding: 10px 20px;
                border-radius: 25px;
                -webkit-border-radius: 25px;
                -moz-border-radius: 25px;
                -ms-border-radius: 25px;
                -o-border-radius: 25px;
                &::placeholder{
                    color: $light-line;
                }
                &:focus{
                    box-shadow: none;
                }
            }
            &:not(:last-of-type){
                margin-bottom: 15px;
            }
        }
        .btn{
            width: 200px ; 
            padding: 2px 5px;
            font-size: 15pt;
            margin-right: 130px;
            margin-top: 30px ;
            background-color: $color-button;
            border-radius: 25px;
            -webkit-border-radius: 25px;
            -moz-border-radius: 25px;
            -ms-border-radius: 25px;
            -o-border-radius: 25px;
            color: $white;
            &:hover{
                filter: brightness(90%);
                -webkit-filter: brightness(90%);
            }
        }
    }
}
//ltr
html[dir = "ltr"]{
    .change-password{
        .form-group{
            .btn{
                width: 200px;
                font-size: 15pt;
                margin-right: 0;
                margin-left: 130px;
            }
        }
    }
}


//rtl
.change-password.code{
    .form-group{
        label{
            span{
                text-align: left;
                padding-left: 12px;
            }
        }
    }
}


//ltr
html[dir = "ltr"]{
    .change-password.code{
        .form-group{
            label{
                span{
                    text-align: right;
                    padding-right: 12px;
                    padding-left: 0;
                }
            }
        }
    }
}
//rtl responsive
@media (min-width: 280px) and (max-width: 420px){
    .change-password{
        .form-group{
            label{
                span{
                    width: 32%;
                    font-size: 8pt;
                    margin-left: 5px;
                }
                .form-control{
                    width: 68%;
                    font-size: 8pt;
                    padding: 5px 10px;
                    border-radius: 20px;
                    -webkit-border-radius: 20px;
                    -moz-border-radius: 20px;
                    -ms-border-radius: 20px;
                    -o-border-radius: 20px;
                    &::placeholder{
                        color: $light-line;
                    }
                }
            }
            .btn{
                width: 100px;
                height: 25px;
                font-size: 15pt;
                padding: 5px;
                font-size: 12pt;
                line-height: 0;
                margin-right: 50px;
            }
        }
    }
}

//ltr responsive
@media (min-width: 280px) and (max-width: 420px){
    html[dir="ltr"]{
        .change-password{
            .form-group{
                label{
                    span{
                        margin-left: 0;
                        margin-right: 5px;
                    }
                }
                .btn{
                    width: 100px;
                    height: 25px;
                    font-size: 15pt;
                    padding: 5px;
                    font-size: 12pt;
                    line-height: 0;
                    margin-right: 0;
                    margin-left: 50px;
                }
            }
        }
    }
}

