body{
    padding: 0;
}
.confirm{
    .title{
        h3{
            &::after{
                width: 100px;
                top: 42px;
            }
        }
    }
    .show-case{
        .inform{
            .waiting-process{
                .waiting{
                    flex-direction: column;
                    justify-content: center !important;
                    align-items: center !important;
                    img{
                        width: 30px;
                        margin-bottom: 5px;
                    }
                    span{
                        font-size: 13pt;
                        font-weight: bold;
                    }
                }
                .info{
                    img{
                        width: 22px !important;
                        margin-left: 10px !important ;
                    }
                }
            }
            .addresses{
                position: relative;
                background-color: $text-field-bg;
                margin-bottom: 100px;
                width: 700px;
                background-color: #fffcee;
                border-top-left-radius: 25px;
                border-top-right-radius: 25px;
                padding: 10px 25px;
                .editing{
                    text-align: left;
                    margin-bottom: 10px;
                    img{
                        cursor: pointer;
                    }
                }
                .address{
                    background-color: #fff;
                    padding: 10px 30px 15px 0px;
                    border: 1px solid #f2eacb;
                    margin-bottom: 20px;
                    border-radius: 10px;
                    -webkit-border-radius: 10px;
                    -moz-border-radius: 10px;
                    -ms-border-radius: 10px;
                    -o-border-radius: 10px;
                    display: flex;
                    justify-content: space-between;
                    .sub{
                        .title{
                            font-size: 15pt;
                            color: $color-button;
                            font-weight: bold;
                        }
                        img{
                            margin-bottom: 5px;
                        }
                        .text{
                            font-size: 14pt;
                            color: $black-color;
                            margin-top: 5px;
                        }
                    }
                }
                .info{
                    @extend %info ;
                    img{
                        width: 40px;
                        margin-left: 2px;
                    }
                }
            }
            .order-time{
                padding: 15px 15px 1px;
                    .form-control{
                        box-shadow: none ; 
                        border: none ; 
                    }
            }
            
            .payments{
                padding: 20px 25px 100px 25px;
                .payment{
                    position: relative;
                    label{
                        display: flex;
                        align-items: center;
                        margin-bottom: 25px;
                        span{
                            position: relative;
                            display: flex;
                            align-items: center;
                            margin-right: 10px;
                            .custom-radio{
                                border-radius: 50%;
                                -webkit-border-radius: 50%;
                                -moz-border-radius: 50%;
                                -ms-border-radius: 50%;
                                -o-border-radius: 50%;
                                width: 22px;
                                height: 22px;
                                background-color: $white;
                                border: 1px solid $light-line;
                            }
                            img{
                                width: 50px;
                                margin-right: 10px;
                            }
                            p{
                                color: $black-color;
                                font-size: 12pt;
                                margin-right: 8px;
                                padding-top: 10px;
                            }
                        }
                        input{
                            display: none;
                        }
                        input[type = "radio"]:checked+span{
                            .custom-radio{
                                border: 1px solid $color-button;
                            }
                        }
                        input[type = "radio"]:checked+span::before{
                            position: absolute;
                            content: "";
                            background-color: $color-button;
                            top: 19px;
                            right: 4.8px;
                            width: 12px;
                            height: 12px;
                            border-radius: 50%;
                            -webkit-border-radius: 50%;
                            -moz-border-radius: 50%;
                            -ms-border-radius: 50%;
                            -o-border-radius: 50%;
                        }
                    }
                }
                .payment + .payment{
                    margin-top: 65px;
                    &::before{
                        position: absolute;
                        content: "";
                        top: -14px;
                        right: 30px;
                        width: 35%;
                        height: 1px;
                        background-color: $light-line;
                    }
                }
                .cash-payment{
                    .ask{
                        display: none;
                        position: relative;
                        margin-bottom: 25px;
                        p{
                            position: relative;
                            font-size: 16pt;
                            color: $black-color;
                            margin-bottom: 40px;
                            &::after{
                                position: absolute;
                                content: "";
                                top: 22px;
                                right: 125px;
                                width:80%;
                                height: 1px;
                                background-color: $light-line;
                            }
                        }
                        select.form-control{
                            box-shadow: none;
                            padding: 15px 40px;
                            border-radius: 25px;
                            -webkit-border-radius: 25px;
                            -moz-border-radius: 25px;
                            -ms-border-radius: 25px;
                            -o-border-radius: 25px;
                            border: 1px solid $light-line;
                        }
                        i{
                            position: absolute;
                            top: 88px;
                            left: 22px;
                            color: $light-line;
                            font-size: 15pt;
                        }
                    }
                    .payed{
                        display: none;
                        align-items: center;
                        label{
                            position: relative;
                            input[type="radio"]{
                                display: none;
                            }
                            .custom-radio{
                                position: absolute;
                                width: 80px;
                                height: 45px;
                                border: 1px solid $light-line !important;
                                background-color: #fff;
                                border-radius: 25px;
                                -webkit-border-radius: 25px;
                                -moz-border-radius: 25px;
                                -ms-border-radius: 25px;
                                -o-border-radius: 25px;
                            }
                            p{
                                color: $black-color;
                                font-size: 12pt;
                                z-index: 3;
                                margin-left: 10px;
                                margin-right: 10px;
                            }
                            input[type="radio"]:checked + span::before{
                                content: "";
                                position: absolute;
                                top: 2px;
                                right: 0;
                                z-index: 2;
                                width: 80px;
                                height: 45px;
                                border: 1px solid $button-bg-products !important;
                                background-color: $button-bg-products !important;
                                border-radius: 25px;
                                -webkit-border-radius: 25px;
                                -moz-border-radius: 25px;
                                -ms-border-radius: 25px;
                                -o-border-radius: 25px;
                            }
                        }
                        label+label{
                            margin-right: 15px;
                        }
                    }
                }
                .card-payment{
                    margin-top: 35px !important;
                    .type-card{
                        display: none;
                        margin-right: 25px;
                        margin-bottom: 35px;
                        img{
                            cursor: pointer;
                            width: 90px;
                        }
                        img + img{
                            margin-right: 15px;
                        }
                    }
                    .form-group{
                        display: none;
                        .form-control{
                            width: 100%;
                            box-shadow: none;
                            padding: 15px 20px;
                            border-radius: 25px;
                            border: 1px solid $light-line;
                            -webkit-border-radius: 25px;
                            -moz-border-radius: 25px;
                            -ms-border-radius: 25px;
                            -o-border-radius: 25px;
                            caret-color: $light-line;
                            &::placeholder{
                                color: $light-line;
                            }
                        }
                        .form-control + .form-control{
                            margin-top: 15px;
                        }
                        .secret-data{
                            display: flex;
                            align-items: baseline;
                            justify-content: center;
                            .form-control + .form-control{
                                margin-right: 30px;
                            }
                        }
                        .btn{
                            @extend %btn ; 
                            margin-top: 50px !important;
                            width: 400px;
                            display: block;
                            margin: auto;
                        }
                    }
                }
                .info{
                    span{
                        margin-right: 5px;
                        margin-bottom: 12px;
                    }
                }
            }
        }
        .notes{
            position: relative;
            textarea{
                width: 100%;
                caret-color: $light-line;
                border: 1px solid $light-line;
                padding: 10px 60px 10px 20px;
                border-radius: 25px;
                -webkit-border-radius: 25px;
                -moz-border-radius: 25px;
                -ms-border-radius: 25px;
                -o-border-radius: 25px;
                &::placeholder{
                    color: $light-line;
                }
                &:focus{
                    outline: none;
                }
            }
            .holder{
                width: 20px;
                position: absolute;
                top: 25px;
                right: 55px;
            }
            .info{
                width: 210px;
                img{
                    margin-left: 5px;
                    width:25px !important;
                }
                .text{
                    margin-bottom: 5px;
                }
            }
        }
        .coupon{
            .cop{
                position: relative;
                background-image: url("../images/frame.png");
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                padding: 100px 25px;
                input{
                    background-color: $text-field-bg;
                    width: 100%;
                    padding: 18px 70px 18px 105px;
                    border: 1px solid $light-line;
                    border-radius: 25px;
                    -webkit-border-radius: 25px;
                    -moz-border-radius: 25px;
                    -ms-border-radius: 25px;
                    -o-border-radius: 25px;
                    &::placeholder{
                        color: $light-line;
                    }
                    &:focus{
                        outline: none;
                    }
                }
                .holder{
                    position: absolute;
                    bottom: 120px;
                    right: 50px;
                    z-index: 100;
                }
                &::after{
                    position: absolute;
                    width: 2px;
                    height: 27px;
                    background-color: $light-line;
                    content: "";
                    right: 80px;
                    bottom: 114px;
                    border-radius: 5px;
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    -ms-border-radius: 5px;
                    -o-border-radius: 5px;
                }
                .button{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: fit-content;
                    text-align: left;
                    padding-inline: 60px;
                    top: 112px;
                    .btn{
                        box-shadow: none;
                        background-color: $lighter-links;
                        color: $white;
                        &:hover{
                            filter: brightness(90%);
                            -webkit-filter: brightness(90%);
                        }
                    }
                }
            }
        }
    }
    .confirm{
        #status-delete{
            margin-left: 5px;
        }
    }
}

.modal-addresses{
    padding-inline: 0 ;
    padding-left: 0 !important;
    .modal-dialog{
        .modal-content{
            padding: 100px 60px 30px;
            .prof{
                background-color: transparent ;
                @extend %addresses ;
                width: 670px;
                .addresses{
                    position: relative;
                    background-color: $text-field-bg;
                    padding: 25px;
                    border-top-right-radius: 25px;
                    border-top-left-radius: 25px;
                    .address{
                        align-items: flex-start !important;
                        background-color: #fff;
                        align-items: center;
                        padding: 15px 20px;
                        .editing{
                            padding: 0px 20px 0px !important;
                        }
                    }
                }
                .another-address{
                    text-decoration: none;
                    display: block;
                    cursor: pointer;
                    color: $color-button;
                    font-size: 12pt;
                    text-align: left;
                    font-weight: bold;
                    margin-bottom: 25px;
                }
                &::before{
                    z-index: 0;
                    right: 22px;
                    top: -35px;
                }
            }
        }
    }
}
.successfull-req{
    .modal-dialog{
        .modal-content{
            padding: 60px 50px 90px 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .image{
                width: 200px;
                margin-bottom: 30px;
                img{
                    width: 100%;
                }
            }
            h3{
                font-size: 15pt;
                margin-bottom: 90px;
                color: $black-color ; 
            }
            a{
                @extend %btn ; 
                width: 280px;
                &:hover{
                    filter: brightness(90%);
                    -webkit-filter: brightness(90%);
                }
            }
        }
    }
}

//responsive design confirm.html(rtl)

@media (min-width: 992px) and (max-width: 1025px){
    .confirm{
        .show-case{
            .inform{
                .addresses{
                    width: 600px;
                }
                .payments{
                    .card-payment{
                        .type-card{
                            margin-right: 20px ;
                        }
                    }
                }
            }
        }
    }
}


@media (max-width: 991.98px){
    .confirm{
        .show-case{
            .inform{
                .payments{
                    .card-payment{
                        .type-card{
                            margin-right: 12px;
                            img + img{
                                margin-right: 5px;
                            }
                        }
                    }
                }
                .addresses{
                    width: 550px;
                }
            }
        }
    }
}
@media (max-width: 768px){
    .confirm{
        .show-case{
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .inform{
                order: 2;
                width: 100%;
                .addresses{
                    width: 100%;
                }
                .current-orders{
                    width: 100%;
                }
            }
            .bill{
                order: 1;
                margin-right: 350px;
                margin-bottom: 50px;
            }
        }
    }
}
@media (max-width: 575.98px){
    .confirm{
        .show-case{
            .bill{
                margin-bottom: 150px !important;
                margin-top: 35px;
            }
        }
    }
    .modal-addresses{
        .modal-dialog{
            .modal-content{
                padding-inline: 20px;
                .prof{
                    .addresses{
                        padding-inline: 12px;
                        .address{
                            padding-inline: 12px;
                            .editing{
                                padding-inline: 5px !important;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (min-width: 360px) and (max-width: 420px){
    .confirm{
        .show-case{
            .inform{
                .addresses{
                    .address{
                        .sub{
                            .text{
                                font-size: 8pt;
                            }
                        }
                    }
                }
                .payments{
                    .cash-payment{
                        .ask{
                            p{
                                &::after{
                                    width: 60% ;
                                }
                            }
                        }
                        .payed{
                            label{
                                .custom-radio{
                                    width: 72px;
                                }
                                p{
                                    font-size: 10pt;
                                }
                            }
                        }
                    }
                    .card-payment{
                        .form-group{
                            display: flex;
                            align-items: center;
                            flex-direction: column;
                            justify-content: center;
                            .secret-data{
                                flex-direction: column;
                                align-items: center;
                                justify-content: center;
                                width: 100%;
                                margin-top: 15px;
                                .form-control + .form-control{
                                    margin-right: 0;
                                }
                            }
                            .btn{
                                width: 300px;
                            }
                        }
                    }
                }
            }
            .coupon{
                .cop{
                    padding: 100px 7px;
                    .button{
                        padding-inline: 20px;
                    }
                }
            }
        }
    }
    .modal-addresses{
        .modal-content{
            padding-inline: 0 !important;
            .prof{
                .addresses{
                    padding-inline: 10px !important;
                    width: 320px;
                    .address{
                        .sub{
                            .text{
                                font-size: 8pt;
                            }
                        }
                    }
                }
            }
            .editing{
                a{
                    img{
                        width: 12px;
                    }
                }
                a + a{
                    margin-right: 4px !important;
                }
            }
        }
    }
}
@media (min-width: 280px) and (max-width: 350px){
    .confirm{
        .show-case{
            .inform{
                .addresses{
                    .address{
                        .sub{
                            .text{
                                font-size: 8pt;
                            }
                        }
                    }
                }
                .payments{
                    .cash-payment{
                        .ask{
                            p{
                                &::after{
                                    width: 50% ;
                                }
                            }
                        }
                        .payed{
                            label{
                                .custom-radio{
                                    width: 72px;
                                }
                                p{
                                    font-size: 8pt;
                                    margin-left: 3px;
                                }
                            }
                        }
                    }
                    .card-payment{
                        .form-group{
                            display: flex;
                            align-items: center;
                            flex-direction: column;
                            justify-content: center;
                            .secret-data{
                                flex-direction: column;
                                align-items: center;
                                justify-content: center;
                                width: 100%;
                                margin-top: 15px;
                                .form-control + .form-control{
                                    margin-right: 0;
                                }
                            }
                            .btn{
                                width: 200px;
                            }
                        }
                    }
                }
                .coupon{
                    .cop{
                        padding: 100px 0px;
                        .holder{
                            right: 20px;
                        }
                        input{
                            padding: 18px 50px 18px 0;
                        }
                        .button{
                            padding-inline: 14px;
                        }
                        &::after{
                            right: 48px;
                        }
                    }
                }
            }
        }
    }
    .modal-addresses{
        .modal-content{
            padding-inline: 0 !important;
            .prof{
                .addresses{
                    padding-inline: 10px !important;
                    width: 220px;
                    .another-address{
                        font-size: 10pt;
                    }
                    .address{
                        .sub{
                            .title{
                                font-size: 10pt;
                            }
                            .text{
                                font-size: 5pt;
                            }
                        }
                    }
                }
                &::before{
                    width: 215px !important;
                }
            }
            .editing{
                a{
                    img{
                        width: 8px !important;
                    }
                }
                a + a{
                    margin-right: 0 !important;
                }
            }
        }
    }
    .successfull-req{
        .modal-dialog{
            .modal-content{
                a{
                    width: 220px;
                }
            }
        }
    }
}

