.delivered{
    .show-case{
        .inform{
            .current-orders{
                .current-order{
                    .cost-order{
                        .type{
                            top: 125px;
                            left: 20px;
                        }
                        .quantity{
                            &::after{
                                content: initial;
                            }
                        }
                    }
                }
            }
            .payments{
                .cash-payment{
                    .payed{
                        span{
                            color: $black-color;
                            background-color: #fff;
                            font-size: 12pt;
                            padding: 10px 15px;
                            border-radius: 25px;
                            -webkit-border-radius: 25px;
                            -moz-border-radius: 25px;
                            -ms-border-radius: 25px;
                            -o-border-radius: 25px;
                            border: 1px solid $light-line;
                            background-color: $button-bg-products !important;
                            color: $white;
                        }
                    }
                }
            }
        }
    }
}

//ltr _delivered.html
html[dir = "ltr"]{
    .delivered{
        .show-case{
            .inform{
                .current-orders{
                    .current-order{
                        .cost-order{
                            .type{
                                top: 125px !important;
                                right: 20px !important;
                                left: initial !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 280px) and (max-width: 350.98px){
    html[dir = "ltr"]{
        .delivered{
            .show-case{
                .inform{
                    .current-orders{
                        .current-order{
                            .cost-order{
                                .type{
                                 margin-top: 0 !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}