.custom-body{
    background-color: #fff !important;
}
.product-header{
    .bar{
        top: -105px;
        left: 202px;
        transform: rotateX(134deg);
        border-radius: 15px;
        -webkit-transform: rotateX(134deg);
        -moz-transform: rotateX(134deg);
        -ms-transform: rotateX(134deg);
        -o-transform: rotateX(134deg);
    }
}
.prod{
    padding: 30px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .content{
        position: relative;
        width: 100%;
        background-color:$white;
        padding: 30px;
        border: 2px solid $lighter-button;
        .icons{
            text-align: left;
            .heart{
                background-color: $button-bg-products;
                display: inline-block;
                width: 40px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
            }
            .heart + .heart{
                margin-right: 10px;
            }
            .share{
                background-color: $lighter-links;
            }
        }
        .show-case{
            justify-content: flex-start;
            align-items: flex-start;
            margin-bottom: 0;
            .title{
                margin-top: 60px;
                h5{
                    font-size: 25px;
                    color: $black-color;
                }
                p{
                    font-size: 18px;
                }
            }
        }   
        .quantity{
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            margin-bottom: 150px;
            .show-case{
                flex-direction: column;
                .title{
                    display: flex;
                    align-items: unset;
                    margin-bottom: 50px;
                    margin-top: 0;
                    span{
                        font-weight: bold;
                        font-size: 20px;
                    }
                    img{
                        width: 35px;
                        margin-left: 20px;
                    }
                }
                .type-quantity{
                    margin-right: 50px;
                    a{
                        text-decoration: none;
                        cursor: pointer;
                        background-color: #fff; 
                        color:  $lighter-links;
                        border: 1px solid $lighter-links; 
                        padding: 10px 25px;
                        border-radius: 30px;
                        -webkit-border-radius: 30px;
                        -moz-border-radius: 30px;
                        -ms-border-radius: 30px;
                        -o-border-radius: 30px;
                    }
                    a + a{
                        margin-right: 10px;
                    }
                }
            }
            .price{
                background-color: $button-bg-products;
                padding: 10px;
                width: 100px;
                text-align: center;
                color: $white;
                border-radius: 25px;
                -webkit-border-radius: 25px;
                -moz-border-radius: 25px;
                -ms-border-radius: 25px;
                -o-border-radius: 25px;
            }
            &::after{
                position: absolute;
                bottom: -110px;
                right: 25px;
                content: "";
                background-color: #fff;
                width: 330px;
                height: 50px;
                border: 1px solid $lighter-links;
                border-radius: 25px;
                -webkit-border-radius: 25px;
                -moz-border-radius: 25px;
                -ms-border-radius: 25px;
                -o-border-radius: 25px;
            }
        }
        .data{
            position: absolute;
            bottom: 78px;
            right: 105px;
            width: 220px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            img{
                width: 30px;
                cursor: pointer;
            }
            span{
                width: 100%;
                text-align: center;
            }
        }
    }
    .btn{
        position: relative;
        @extend %btn ; 
        margin-top: 60px;
        width: 320px;
        background-color: $lighter-links ; 
        svg{
            margin-bottom: 5px;
        }
        &:hover{
            color: $white;
            filter: brightness(90%);
            -webkit-filter: brightness(90%);
        }
    }
}

// responsive design products.html(rtl)
@media (max-width: 1399.98px){
    .product-header{
        .bar{
            top: -78px;
            left: 228px;
        }
    }
}
@media (max-width: 1280.98px){
    .product-header{
        .bar{
            top: -70px !important; 
        }
    }
}
@media (max-width: 1199.98px){
    .product-header{
        .bar{
            top: -58px !important; 
        }
    }
}
@media (min-width: 992px) and (max-width: 1025px){
    .product-header{
        .bar{
            top: -15px !important; 
        }
    }
    .prod{
        .content{
            .show-case{
                .image{
                    width: 400px;
                    img{
                        width: 100%;
                    }
                }
            }
        }
    }
}
@media (max-width: 991.98px){
    .prod{
        .content{
            .show-case{
                .image{
                    width: 400px;
                    img{
                        width: 100%;
                    }
                }
            }
        }
    }
}
@media (max-width: 768px){
    .prod{
        .content{
            .show-case{
                .image{
                    width: 255px;
                    img{
                        width: 100%;
                    }
                }
            }
        }
    }
}
@media (max-width: 575.98px){
    .prod{
        padding-inline: 20px;
        .content{
            .icons{
                margin-bottom: 30px;
            }
            .show-case{
                margin-bottom: 20px;
                .title{
                    margin-top: 30px;
                    h5{
                        font-size: 22px;
                    }
                    p{
                        font-size: 15px;
                    }
                }
            }
            .quantity{
                .show-case{
                    .title{
                        span{
                            font-size: 18px;
                            margin-top: 5px;
                        }
                    }
                }
                .price{
                    padding: 5px;
                }
                &::after{
                   bottom: -75px;
                }
            }
            .data{
                bottom: 114px;
            }
        }
    }
}
@media (min-width: 360px) and (max-width: 420px){
    .prod{
        padding-inline: 10px;
        .content{
            .show-case{
                .title{
                    margin-top: 20px;
                }
            }
            .quantity{
                .show-case{
                    .title{
                        span{
                            margin-top: 10px;
                        }
                    }
                    .type-quantity{
                        margin-right: 0;
                        display: flex;
                        a + a{
                            margin-right: 15px;
                        }
                    }
                }
                &::after{
                    bottom: -95px;
                    right: 3px;
                    width: 263px;
                }
            }
            .data{
                right: 53px;
                bottom: 94px;
            }
        }
    }
}
@media (min-width: 280px) and (max-width: 350.98px){
    .prod{
        padding-inline: 5px;
        .content{
            padding: 15px;
            .show-case{
                .title{
                    margin-top: 20px;
                }
            }
            .quantity{
                .show-case{
                    width: 130px;
                    .title{
                        img{
                            margin-left: 13px;
                        }
                        span{
                            margin-top: 10px;
                            font-size: 14px;
                        }
                    }
                    .type-quantity{
                        margin-right: 0;
                        display: flex;
                        a + a{
                            margin-right: 15px;
                        }
                    }
                }
                &::after{
                    bottom: -95px;
                    right: 3px;
                    width: 220px;
                }
            }
            .data{
                width: 200px;
                right: 28px;
                bottom: 80px;
            }
        }
        .btn{
            width: 260px;
        }
    }
}