.products-search{
    .title{
        margin-bottom: 20px !important;
    }
    .common-products{
        .products{
            .product{
                .card{
                    a{
                        img{
                            min-height: 250px;
                            max-height: 250px;
                        }
                    }
                }
            }
        }
    }
}