// index.html ltr
html[dir = "ltr"]{
    body{
        overflow-x: hidden;
    }
    .header{
        .navbar{
            .navbar-brand{
                img{
                    left: 600px;
                }
                &::after{
                  left: 590px;
                }
            }
            .navbar-collapse{
                .navbar-nav{
                    .custom-dropdown-menu-lang {
                        left: 5px;
                        right: initial;
                        .dropdown-menu{
                            right: -75px ;
                        }
                    }
                    .custom-dropdown-menu-sort{
                        right: initial;
                        left: 77px;
                    }
                    .nav-item{
                        margin-right: 40px;
                        margin-left: 0;
                    }    
                    .home{
                        margin-right: 215px;
                        margin-left: 0;
                    }
                    .who-are{
                        margin-left: 80px;
                        margin-right: 40px;
                    }
                    .sort-buying{
                        margin-right: 100px;
                        margin-left: 40px;
                    }
                    .icons{
                        margin-left: 40px;
                        margin-right: 0;
                        .nav-item{
                            margin-right: 20px;
                            margin-left: 0;
                        }
                        .profile{
                            .dropdown-menu{
                                left: -125px;
                                right: initial;
                            }
                        }
                    }
                }
            } 
        }
        .slider{
            .carousel-control-prev{
                left: 4%;
                img{
                    transform: rotate(180deg);
                    -webkit-transform: rotate(180deg);
                    -moz-transform: rotate(180deg);
                    -ms-transform: rotate(180deg);
                    -o-transform: rotate(180deg);
                }
            }
            .carousel-indicators{
                right: initial;
                left: 500px;
            }
            .carousel-caption{
                left: 35%;
                right: 30%;
                .form{
                    .sorting{
                        right: 5px;
                        left: initial;
                        .sub{
                            text-align: left;
                            padding: 15px 0 15px 15px;
                        }
                        .items{
                            .item{
                                input[type="checkbox"] + label::before{
                                    left: -25px;
                                    right: initial;
                                }
                            }
                        }
                    }
                    .search{
                        left: 25px;
                        right: initial;
                    }
                    .sort{
                        right: 25px;
                        left: initial;
                    }
                    &:after{
                        right: 65px;
                        left: initial;
                    }
                }
            }
        }
    } 
    .features{
        .feature{
            .icon{
                margin-right: 10px;
            }
        }
        .space::after{
            right: -80px;
            left: initial;
        }
    }
    .sections{
        .title{
            &::after{
                right: 42px;
                left: initial;
            }
        }
        .more-sections{
            img{
                margin-left: 5px;
                margin-right: 0;
                transform: rotate(180deg);
                -webkit-transform: rotate(180deg);
                -moz-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                -o-transform: rotate(180deg);
            }
        }
    } 
    .common-products{
        .title::after{
            right: 122px;
            left: initial;
        }
        .products{
            .product{
                .card{
                    .info{
                        right: 130px;
                        left: initial;
                    }
                }
            }
        }
    } 
    .app{
        .col-sm-3 , .col-sm-5{
            justify-content: flex-end;
        }
        .mobile{
            .info{
                .title{
                    margin-right: 45px;
                    margin-left: 0;
                }
            }
        }
    }
    .footer{
        margin-top: -70px;
        .overlay{
            padding: 110px 70px 40px;
            .contact{
                .form-group{
                    .form-control{
                        text-align: left;
                    }
                }
            }
        }
    }
}

@media (max-width: 1399.98px){
    html[dir = "ltr"]{
        .header{
            .navbar{
                .navbar-brand{
                    img{
                        right: initial;
                        left: 540px;
                    }
                    &::after{
                        left: 530px;
                        right: initial;
                    }
                }
                .navbar-nav{
                    .dropdown-menu{
                        left: -20px;
                    }
                    .nav-item{
                        .nav-link{
                            font-size: 15pt;
                        }
                    }
                }
            }
        }
        .common-products{
            .products{
                .product{
                    .card{
                        .info{
                            right: 115px;
                            top: 190px;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 1280.98px){
    html[dir = "ltr"]{
        .header{
            .navbar{
                padding-inline: 20px;
                .navbar-brand{
                    img{
                        left: 475px !important;
                        right: initial !important;
                        width: 170px;
                        height: 170px;
                        bottom: -110px;
                    }
                    &::after{
                        left: 445px !important;
                        right: initial !important;
                    }
                }
                .navbar-collapse{
                    .navbar-nav{
                        .nav-item{
                            margin-right: 15px;
                            .nav-link{
                                font-size: 15pt !important;
                            }
                        }
                        .sort-buying{
                            margin-left: 0;
                            margin-right: 55px;
                        }
                        .home{
                            margin-right: 170px;
                        }
                        .icons{
                            margin-left: 5px;
                        }
                    }
                }    
            }
        }
        .common-products{
            .products{
                .product{
                    .card{
                        .info{
                            top: 170px ;
                            right: 100px ;
                            left: initial;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1199.98px){
    html[dir = "ltr"]{
        .header{
            .navbar{
                padding-inline: 20px;
                .navbar-brand{
                    img{
                        left: 435px !important;
                        right: initial !important;
                    }
                    &::after{
                       left: 425px !important;
                       right: initial;
                    }
                }
                .navbar-collapse{
                    .navbar-nav{
                        .sort-buying{
                            margin-right: 40px;
                            margin-left: 0;
                        }
                    }
                }
            }
        }
        .header{
            .slider{
                .carousel-caption{
                    left: 30%;
                    right: 30%;
                }
            }
        } 
        .common-products{
            .products{
                .product{
                    .card{
                        .info{
                           right: 85px;
                           left: initial;
                           top: 150px ; 
                        }
                    }
                }
            }
        }
    }
}
@media (min-width: 992px) and (max-width: 1025px){
    html[dir = "ltr"]{
        .header{
            .navbar{
                padding-inline: 5px;
                .navbar-brand{
                    img{
                        width: 150px;
                        height: 150px;
                        left: 390px !important;
                        right: initial !important;
                        bottom: -98px !important;
                    }
                    &::after{
                        width: 170px;
                        height: 70px;
                        top: 50px;
                        left: 380px !important;
                        right: initial !important;
                    }
                }
                .navbar-collapse{
                    .navbar-nav{
                        .nav-item{
                            margin-left: 20px;
                            margin-right: 0px;
                            .nav-link{
                                font-size: 13pt !important;
                            }
                        }
                        .sort-buying{
                            margin-left: 30 ;
                        }
                        .who-are{
                            margin-left: 170px;
                            margin-right: 0;
                        }
                        .icons{
                            margin-left: 40px;
                            margin-left: 0;
                        }
                    }
                }
            }
            .slider{
                .carousel-indicators{
                    right: 340px !important;
                }
                .carousel-item{
                    .carousel-caption{
                       left: 28% !important;
                    }
                }
            }
        }  
        .features{
            .space::after{
                right: -30px;
            }
        } 
        .common-products{
            .products{
                .product{
                    .card{
                        .info{
                            left: 100px;
                            right: initial;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 991.98px){
    html[dir = "ltr"]{
        .header{
            .navbar{
                .navbar-toggler{
                    left: -510px;
                }
                .navbar-brand{
                    img{
                        right: 340px !important;
                        left: initial !important;
                        top: -10px;
                    }
                }
                .navbar-collapse{
                    margin-top: 50px;
                    .navbar-nav{
                        .nav-item{
                            margin-left: 0;
                            margin-right: 0;
                        }
                        .who-are{
                            margin-left: 0;
                            margin-right: 0;
                        }
                        .icons{
                            margin-right: 40px;
                            margin-left: 0;
                        }
                    }
                    
                }
            }
            .slider{
                .carousel-indicators{
                    right: 335px !important;
                    left: initial !important;
                }
              
                .carousel-caption{
                    left: 26%;
                }
            }
        }  
        .features{
            .space{
                &::after{
                    right: -40px ;
                    left: initial ;
                }
            }
        }
        .app{
            .col-sm-3{
                margin-left: 100px;
            }
        }
    }
}
@media (max-width: 768px){
    html[dir = "ltr"]{
        .header{
            .slider{
                .carousel-indicators{
                    right: 250px !important;
                }
                .carousel-caption{
                    left: 16%;
                }
            }
        }
        .common-products{
            .products{
                .product{
                    .card{
                        .info{
                            right: 60px;
                            top: 120px;
                        }
                    }
                }
            }
        }
        .app{
            .mobile{
                .info{
                    position: relative;
                    right: 20px;
                }
            }
        }
    }
}

@media (max-width: 575.98px){
    html[dir = "ltr"]{
        .header{
            .navbar{
                .navbar-brand{
                    img{
                        right: 155px !important;
                    }
                }
                .navbar-toggler{
                    left: -360px;
                }
            }
            .slider{
                .carousel-indicators{
                    right: 215px !important;
                }
                .carousel-caption{
                    left: 6%;
                }
            }
        }
        .features{
            .res{
                margin-left: 18px;
                margin-right: initial;
            }
        }
        .app{
            .col-sm-3{
                margin-left: -250px;
            }
            .mobile{
                .info{
                    left: 175px;
                }
            }
        }
        .footer{
            margin-top: -115px;
            .overlay{
                padding: 150px 70px 40px;
            }
        }
    }
}

@media (min-width: 360px) and (max-width: 420px){
    html[dir = "ltr"]{
        .header{
            .navbar{
                padding-inline: 5px;
                .navbar-brand{
                    img{
                        left: 150px !important;
                        right: initial;
                    }
                }
                .navbar-toggler{
                    left: -250px !important;
                    right: initial;
                }
            }
            .slider{
                .carousel-indicators{
                    right: 125px !important;
                }
                .carousel-caption{
                   left: -5% !important;
                }
            }
        }    
        .location{
            .navbar-nav{
                .dropdown{
                    .nav-link{
                        font-size: 10pt;
                    }
                }
            } 
        }
        .common-products{
            .title{
                &::after{
                    right: 85px;
                }
            }
            .products{
                .card{
                    .info{
                        right: 120px !important;
                        top: 190px !important;
                    }    
                }    
            }
        }
        .app{
            .col-sm-3{
                margin-left: -85px;
            }
            .mobile{
                .info{
                    left: 45px;
                }
            }
        }
        .footer{
            margin-top: -140px;
            .overlay{
                padding: 200px 70px 40px ;
            }
        }
    }
}

@media (min-width: 280px) and (max-width: 350.98px){
    html[dir = "ltr"]{
        .header{
            .navbar{
                padding-inline: 0;
                .navbar-brand{
                    img{
                        left: 100px !important;
                        right: initial;
                    }
                }
                .navbar-toggler{
                    left: -200px !important;
                    right: initial;
                }
            }
            .slider{
                .carousel-indicators{
                    right: 90px !important;
                }
                .carousel-caption{
                   left: -30% !important;
                }
            }
        }    
        .features{
            .res{
                margin-left: 9px;
            }
        }
        .location{
            padding-inline: 2px;
                .icon{
                    &::before {
                    width: 13px;
                    height: 13px;
                    top: 11px;
                    left: 9px;
                }
            }
            .address{
             margin-left: 4px !important;
            }
            .navbar-nav{
                .dropdown{
                    .nav-link{
                        font-size: 10pt;
                    }
                }
            } 
        }
        .sections{
            .title{
                &::after{
                    right: 33px;
                }
            }
        }
        .common-products{
            .title{
                &::after{
                    right: 115px;
                }
            }
            .products{
                .product{
                    .card{
                        .info{
                            right: 95px !important;
                            top: 165px !important;
                        }    
                    }    
                }    
            }
        }
        .app{
            .col-sm-3{
                margin-left: -25px;
            }
            .mobile{
                .info{
                    left: -2px;
                    top: -180px !important;
                }
            }
        }
        .footer{
            margin-top: -225px;
            .overlay{
                padding: 200px 70px 40px ;
            }
        }
    }
}

// signin (ltr)

html[dir = "ltr"]{
    .modal{
        .modal-dialog{
            .row{
                .col-6{
                    .image{
                        transform: rotate(180deg);
                        -webkit-transform: rotate(180deg);
                        -moz-transform: rotate(180deg);
                        -ms-transform: rotate(180deg);
                        -o-transform: rotate(180deg);
}
                }
            }
            .signin{
                .out{
                    left: 15px;
                    right: initial;
                }    
                .sub{
                    margin-right: 0;
                    margin-left: 15px;
                }
                .title{
                margin-left: 15px;
                margin-right: 0;
                }
                .form-group{
                    label{
                        right: initial !important;
                        left: 10px;
                        span{
                          right: initial !important;
                          left: 65px;
                        }
                    }
                    select{
                        left: -1px;
                        right: initial !important;
                        padding-left: 33px !important;
                        padding-right: 0 !important;
                    }
                    .form-control[type = "text"]{
                        padding-left: 95px;
                        padding-right: initial !important;
                     }
                    .forget{
                        margin-left: 155px;
                        margin-right: 0 !important;
                    }
                }
            }
        }
    }
}

// respnsive design (signin)(lrt)
@media (max-width: 575.98px) {
    html[dir =  "ltr"]{
        .modal{
            .modal-dialog{
                .signin{
                    .forget{
                        margin-left: 115px !important;
                        margin-right: 0 !important;
                    }
                }
            }
        }
    }    
}

@media (min-width: 360px) and (max-width: 420px){
    html[dir = "ltr"]{
        .modal{
            .modal-dialog{
                .signin{
                    .form-group{
                        label{
                            right: initial !important;
                            left: 5px !important;
                            span{
                                left: 56px !important;
                                right: initial !important;
                            }
                        }
                        .forget{
                            margin-left: 45px !important;
                            margin-right: 0 !important;
                        }
                    }
                }
            }
        }
    }   
}

@media (min-width: 279px) and (max-width: 350.98px){
  html[dir = "ltr"]{
        .modal{
            .modal-dialog{
                .signin{
                    .form-group{
                        label{
                            left: 5px !important;
                            right: initial !important;
                        }
                        .forget{
                            margin-left: 30px !important;
                            margin-right: 0 !important;
                        }
                    }
                }
            }
        }
    }    
}

@media (max-width: 280.98px){
    html[dir = "ltr"]{
        .modal{
            .modal-dialog{
                .signin{
                    .form-group{
                        select{
                            left: -2px !important;
                            right: initial !important;
                        }
                        label{
                            span{
                                top: 4px !important;
                                left: 50px !important;
                                right: initial !important;
                            }
                        }
                        .form-control[type="text"]{
                            padding-left: 77px !important;
                            padding-right: 0 !important;
                        }
                    }
                }
            }
        }
    }
}


// signin (ltr)

html[dir ="ltr"]{
    .modal{
        .modal-dialog{
            .row{
                .col-6{
                    .signup{
                        .form-group{
                            input[type = "email"]{
                                text-align: left !important;
                            }
                            .rules{
                                label{
                                    left: 80px ;
                                }
                                input[type = "checkbox"] + label::before{
                                    left: -27px !important;
                                    right: 0 !important;
                                }
                            }
                        }    
                    }
                }    
            }    
        }
    }
}    

// responsive design signup (ltr) 

@media (min-width: 360px) and (max-width: 420px){
    html[dir = "ltr"]{
        .modal{
            .modal-dialog{
                .row{
                    .col-6{
                        .signup{
                            .form-group{
                                label{
                                    span{
                                        left: 55px !important;
                                    }
                                }
                                .rules{
                                    input[type="checkbox"] + label::before{
                                        left: -22px !important;
                                        right: initial !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 280px) and (max-width: 350px){
    html[dir = "ltr"]{
        .modal{
            .modal-dialog{
                .row{
                    .col-6{
                        .signup{
                            .form-group{
                                .rules{
                                    label{
                                        left: 20px !important;
                                        right: initial !important;
                                    }
                                    input[type = "checkbox"] + label::before{
                                        left: -18px !important;
                                        right:  initial !important;
                                    }
                                }
                            }    
                        }    
                    }    
                }
            }
        }
    }             
}

